/* Styles for background video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .video-background {
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
  }
  
  /* Change navbar color */
  .navbar {
    background-color: #007bff; /* Blue color (you can change this to your desired color) */
  }
  
  /* Position logo on the right */
  .navbar-brand {
    margin-left: auto;
  }
  
  /* Center carousel */
  .carousel {
    margin: auto;
    width: 50%; /* You can adjust this width as needed */
  }
  